
        <ion-tab tab="blog">
          <ion-header translucent>
            <ion-toolbar>
<ion-item lines="none">
  <ion-avatar slot="start">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  <ion-label>Blogs</ion-label>
</ion-item>
            </ion-toolbar>
          </ion-header>

          <ion-content fullscreen class="ion-padding">
<ion-card class="undermain">
<ion-card-content>
<center><ion-note>Under Maintenance</ion-note></center>
</ion-card-content>
</ion-card>
          </ion-content>
        </ion-tab>
