
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="home">
            <ion-label>Home</ion-label>
            <ion-icon name="home"></ion-icon>
          </ion-tab-button>
          <ion-tab-button tab="movies">
            <ion-label>PlayList</ion-label>
            <ion-icon name="videocam"></ion-icon>
          </ion-tab-button>
          <ion-tab-button tab="blog">
            <ion-label>Blog</ion-label>
            <ion-icon name="terminal"></ion-icon>
          </ion-tab-button>
        </ion-tab-bar>
