
        <ion-tab tab="home">
          <ion-header translucent>
            <ion-toolbar>
              <ion-title>{{site.name}}</ion-title>
          <ion-buttons slot="end">
            <ion-menu-button id="trigger-home" auto-hide="false"></ion-menu-button>
          </ion-buttons>
            </ion-toolbar>
          </ion-header>

          <ion-content fullscreen no-padding>
            {% for post in site.posts %}
          <div style="padding-top:56.25%;position:relative;" id="Post{{ post.date | date: '%-m%-d%y' }}">
    {% include ribon.html %}
<img src="{{post.poster}}" style="border:0;max-width:100%;position:absolute;top:0;left:0;height:100%;width:100%;"/>
</div>
        <ion-toolbar color="default">
<ion-item>
  <ion-avatar slot="start">
    <img src="{{post.ava}}">
  </ion-avatar>
  <ion-label><h3 color="dark">{{post.title}}</h3><p><ion-icon color="warning" name="star"></ion-icon> {{post.star}}</p></ion-label>
</ion-item>
        </ion-toolbar>
  <ion-modal trigger="Post{{ post.date | date: '%-m%-d%y' }}" id="menuPost{{ post.date | date: '%-m%-d%y' }}">
<ion-modal-header collapse="fade" translucent="true">
<ion-toolbar fullscreen no-padding>
          <div style="padding-top:56.25%;position:relative;">
<iframe src="{{post.video}}" style="border:0;max-width:100%;position:absolute;top:0;left:0;height:100%;width:100%;" allowFullScreen="true" allow="encrypted-media" allow="accelerometer; autoplay; clipboard-write; gyroscope; picture-in-picture"></iframe>
</div>
</ion-toolbar>
        <ion-toolbar>
            <ion-item rel="tooltip" data-original-title="Tarik kebawah untuk menutup">
                <ion-avatar slot="start">
                    <img src={{post.ava}}/>
                </ion-avatar>
                <ion-label><h2>{{post.title}}</h2></ion-label>
<ion-button color="dark" href="{{ site.baseurl }}{{post.url}}">
  <ion-icon slot="start" name="play"></ion-icon>
  <ion-label>Buka</ion-label>
</ion-button>
            </ion-item>
        </ion-toolbar>
     </ion-modal-header>
    <ion-content class="ion-padding">
        
    </ion-content>
  </ion-modal>
            {% endfor %}
          </ion-content>
        </ion-tab>
  <ion-modal trigger="trigger-home"  id="menuHome">
<ion-modal-header collapse="fade" translucent="true">
        <ion-toolbar>
<ion-title>Menu</ion-title>
    <ion-buttons slot="end">
      <ion-button onClick="dismissIm()">
        <ion-icon color="danger" slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
        </ion-toolbar>
        <ion-toolbar>
<script async src="https://cse.google.com/cse.js?cx=44e7fc0c40cbaa9bf"></script>
<div class="gcse-search"></div>
        </ion-toolbar>
     </ion-modal-header>
    <ion-content class="ion-padding">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1171588080744378"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-1171588080744378"
     data-ad-slot="2850989427"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1171588080744378"
     crossorigin="anonymous"></script>
<!-- horijon -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1171588080744378"
     data-ad-slot="7245300782"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script></ion-content>
  </ion-modal>
