<script src="{{ site.baseurl }}/assets/js/dark.js"></script>
            {% for post in site.posts %}
<script>
  const postModal{{ post.date | date: "%-m%-d%y" }} = document.querySelector('#menuPost{{ post.date | date: "%-m%-d%y" }}');
  const app{{ post.date | date: "%-m%-d%y" }} = document.querySelector('ion-app');

  postModal{{ post.date | date: "%-m%-d%y" }}.breakpoints = [0.0, 0.0, 0.0];
  postModal{{ post.date | date: "%-m%-d%y" }}.initialBreakpoint = 1.0;


async function dismissPost{{ post.date | date: "%-m%-d%y" }}() {
  await postModal{{ post.date | date: "%-m%-d%y" }}.dismiss({
    'canDismiss': true
  });
}
</script>
            {% endfor %}
<script type="text/javascript">
$('ion-toolbar ion-item').tooltip().eq(0).tooltip('show').tooltip('disable').one('mouseout', function() {
  $(this).tooltip('enable');
});

setTimeout(function() {
 $('ion-toolbar ion-item').tooltip().eq(0).tooltip('hide').tooltip('enable');
}, 5000);
</script>
<script>
  const sheetModal = document.querySelector('#menu');
  const cardModal = document.querySelector('#menuHome');
  const app = document.querySelector('ion-app');

  sheetModal.breakpoints = [0.0, 0.0, 0.0];
  sheetModal.initialBreakpoint = 0.6;
  
  cardModal.swipeToClose = true;
  cardModal.presentingElement = document.querySelector('ion-app');
  
  canDismissModal.canDismiss = async () => {
    const actionSheet = document.createElement('ion-action-sheet');
    
    actionSheet.header = 'Are you sure you want to discard your changes?';
    actionSheet.buttons = [
      {
        text: 'Discard Changes',
        role: 'destructive'
      },
      {
        text: 'Keep Editing',
        role: 'cancel'
      }
    ];
    
    app.appendChild(actionSheet);
    
    await actionSheet.present();
            
    const { role } = await actionSheet.onDidDismiss();
    
    if (role === 'destructive') {
      return true;
    }
    
    return false;    
  }

async function dismissMe() {
  await sheetModal.dismiss({
    'dismissed': true
  });
}

async function dismissIm() {
  await cardModal.dismiss({
    'canDismiss': true
  });
}
</script>
    <script>
      let length = 0;
      const list = document.getElementById('list');
      const infiniteScroll = document.getElementById('infinite-scroll');

      infiniteScroll.addEventListener('ionInfinite', async function () {
        if (length < users.length) {
          console.log('Loading data...');
          await wait(500);
          infiniteScroll.complete();
          appendItems(8);
          console.log('Done');
        } else {
          console.log('No More Data');
          infiniteScroll.disabled = true;
        }
      });

      function appendItems(number) {
        console.log('length is', length);
        const originalLength = length;
        for (var i = 0; i < number; i++) {
          const el = document.createElement('ion-item');
          el.innerHTML = `
            {% for post in site.posts %}
            {% endfor %}
        `;
          list.appendChild(el);
          length++;
        }
      }

      function wait(time) {
        return new Promise((resolve) => {
          setTimeout(() => {
            resolve();
          }, time);
        });
      }

      appendItems(8);
    </script>
<script type="module">
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.2/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.8.2/firebase-analytics.js";

  const firebaseConfig = {
    apiKey: "AIzaSyABGt1oPCnkJVphDFIU8LUbeBO4xYKgn4w",
    authDomain: "movie-stream-71b63.firebaseapp.com",
    projectId: "movie-stream-71b63",
    storageBucket: "movie-stream-71b63.appspot.com",
    messagingSenderId: "994213969592",
    appId: "1:994213969592:web:02775b0d2ae96cc2fafe4d",
    measurementId: "G-PW0PDT2KN8"
  };

  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1683278031980238',
      xfbml      : true,
      version    : 'v14.0'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
</script>

